[user]
  name = Juan Arias
[push]
  default = upstream
[rerere]
  enabled = true
[color]
  ui = true
[alias]
  lg = log --pretty=oneline --abbrev-commit --graph --decorate --all
  ls = log --pretty=format:"%C(yellow)%h%Cred%d\\ %Creset%s%Cblue\\ [%cn]" --decorate
  diff = diff --word-diff
  cp = cherry-pick
  unstage = reset HEAD --
  last = log -1 HEAD
